examples/loading-mark-reply.json
[{"id":"096cb3e255e1b829","type":"Webhook","z":"931e5724030367c8","name":"","url":"/webhook","x":320,"y":140,"wires":[["08fa3f16e82bba21"]]},{"id":"42288021cbcf6467","type":"ReplyMessage_New","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","replyMessage":"","x":840,"y":240,"wires":[["ae5832685cd2ecdd"]]},{"id":"ae5832685cd2ecdd","type":"debug","z":"931e5724030367c8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":280,"wires":[]},{"id":"08fa3f16e82bba21","type":"markAsRead","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":480,"y":180,"wires":[["6d93abb0a2bc40e0"]]},{"id":"6d93abb0a2bc40e0","type":"Loading","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","loadingSeconds":"5","waitForCompletion":true,"x":660,"y":200,"wires":[["42288021cbcf6467"]]},{"id":"ecd98ffb90c981ef","type":"lineConfig","botName":"ももたろう","botIconUrl":""},{"id":"64d98199362901e3","type":"global-config","env":[],"modules":{"node-red-contrib-line-messaging-api":"0.4.4"}}]