examples/old-reply-and-push.json
[{"id":"d4b560c096561557","type":"ReplyMessage","z":"931e5724030367c8","name":"","replyMessage":"","x":440,"y":780,"wires":[]},{"id":"36c187413d20884e","type":"PushMessage","z":"931e5724030367c8","name":"","x":440,"y":740,"wires":[]},{"id":"237fd8a4c3095282","type":"Webhook","z":"931e5724030367c8","name":"","url":"","x":140,"y":740,"wires":[["d4b560c096561557"]]},{"id":"24c6eed3ea7ac346","type":"inject","z":"931e5724030367c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":700,"wires":[["36c187413d20884e"]]},{"id":"23933ab4eada950f","type":"global-config","env":[],"modules":{"node-red-contrib-line-messaging-api":"0.4.4"}}]