examples/push-get-info.json
[{"id":"3c7ac9f9eb67004a","type":"debug","z":"931e5724030367c8","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":520,"wires":[]},{"id":"171e3f0dcd31ac89","type":"Limit","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":650,"y":520,"wires":[["bcba27ea5a8acc27"]]},{"id":"6f7e1fde69b2069e","type":"inject","z":"931e5724030367c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":420,"wires":[["171e3f0dcd31ac89","405c7c906dcfb24f","df4dc581f8e1a71e","3529ba39bc142c67","2d635f4aed07510c"]]},{"id":"df4dc581f8e1a71e","type":"PushMessage_New","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":680,"y":480,"wires":[["3c7ac9f9eb67004a"]]},{"id":"405c7c906dcfb24f","type":"BloadcastMessage","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":690,"y":440,"wires":[["3c7ac9f9eb67004a"]]},{"id":"2d635f4aed07510c","type":"getBotInfo","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":670,"y":560,"wires":[["bcba27ea5a8acc27"]]},{"id":"3529ba39bc142c67","type":"getProfile","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","x":670,"y":600,"wires":[["bcba27ea5a8acc27"]]},{"id":"bcba27ea5a8acc27","type":"debug","z":"931e5724030367c8","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":620,"wires":[]},{"id":"ecd98ffb90c981ef","type":"lineConfig","botName":"ももたろう","botIconUrl":""},{"id":"6b2eeeca58870c57","type":"global-config","env":[],"modules":{"node-red-contrib-line-messaging-api":"0.4.4"}}]