examples/simple-reply.json
[{"id":"8bc8712e7eb4629d","type":"Webhook","z":"931e5724030367c8","name":"","url":"/webhook","x":320,"y":60,"wires":[["38b13d3b031b9c42"]]},{"id":"38b13d3b031b9c42","type":"ReplyMessage_New","z":"931e5724030367c8","name":"","lineConfig":"ecd98ffb90c981ef","replyMessage":"","x":500,"y":80,"wires":[["d99ab0c4731401a8"]]},{"id":"d99ab0c4731401a8","type":"debug","z":"931e5724030367c8","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":100,"wires":[]},{"id":"ecd98ffb90c981ef","type":"lineConfig","botName":"ももたろう","botIconUrl":""},{"id":"c55ae20832e13aca","type":"global-config","env":[],"modules":{"node-red-contrib-line-messaging-api":"0.4.4"}}]